

.popu {

color: aliceblue;
list-style: none;
width: 320px;
display: block;
float: left;
margin-left: -25px;
margin-top: 8px;
list-style-type: none;
padding-left: 1px;

}

.pop {

color: aliceblue;
display: inline-block;
width: 88px;
height: 100px;
text-align: center;
font-size: 13px;
border: 1px solid transparent;
cursor: pointer;
list-style-type: none;
}

.pop:hover {

border: 1px solid #eae9e9;
border-radius: 2px;

 }

.pop{
    
width: 50px; height: 50px;
margin-bottom: 10px;

}

.apop {
    
color: #000;
text-decoration: none; 
list-style-type: none;

}

.content {
  
color: aliceblue;
margin-top: 11.5px;
list-style-type: none;
vertical-align: middle;

}

.column1 {

    float: left;
    width: 10%;
}

.column2 {

    float: center;
    width: 30%;
}

.column3 {

    float: right;
    width: 35%;
}
